  {{!-- <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
      <div class="card-body">
        
          <h5 class="card-title">{{this.User}}</h5>
          <p>
            <strong>Name</strong>: {{this.Name}}</p>
          <p>
          <p>
            <strong>Weather</strong>: {{this.Weather}}</p>
          <p>
            <strong>Description:</strong> {{this.Description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div> --}}

  <div class="card 1">
  <div class="card_image"> <img src="https://images.pexels.com/photos/2331575/pexels-photo-2331575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" /> </div>
  <div class="card_title title-white">
   <div class="card-body">
        
          <h5 class="card-title">{{this.User}}</h5>
          <p>
            <strong>Name</strong>: {{this.Name}}</p>
          <p>
          <p>
            <strong>Weather</strong>: {{this.Weather}}</p>
          <p>
            <strong>Description:</strong> {{this.Description}}</p>
            <a href="/">← Back To Home</a>
        </div>
  </div>
</div>